---
layout: base.njk
---

<div class="post-wrapper">
    <div class="top-bar">
        <div class="top-bar-logo-bg">
            <a class="top-bar-logo" href="{{ paths.home }}"><h1>bw</h1></a>
        </div>
        <div id="link-bar">
            {%- for page in collections.pages -%}
                <a class="nav-link" href="{{ page.url }}">{{ page.data.title }}</a>
            {%- endfor -%}
        </div>   
    </div>     
    <div class="post-header">
        <h1 class="giant-text">{{ page.date | postDate }}</h1>
        <div class="title-wrapper">
            <div class="tag-list">
            {% if tags %}
                {% for tag in tags %}
                    <a href="{{ paths.tagDir }}{{ tag }}.html" class="tag">{{ tag }}</a>
                {% endfor %}
            {% endif %}
            </div>
            <h2 class="post-title post-head">{{ title }}</h2>
        </div>
    </div>
    <div class="main-post">
        {% if post_series %}
            {% for item in series %}
                {% if item.title == post_series %}
                    <div class="series-list">
                        Part of the <strong>{{ item.title }}</strong> series
                        <ol>
                        {% for post in item.posts | sort(false, false, 'order') %}
                            {% if post.title == title %}
                                <li><strong>{{ post.title }}</strong></li>
                            {% else %}
                            <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ol>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {{ content | safe }}
    </div>
</div>